.slider {
  position: relative;
  width: 100%;
  height: 70vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  button {
    border: none;
    background: rgba(255, 255, 255, 0);

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.slide {
  position: relative;
  transition: 0.5s;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn-styles {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
}

#goRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
}

#goLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
}
