/*
    Vars
*/
$fontType: "Open Sans", "sans-serif";
$defaultFontSize: 100%;
$smallFontSize: 90%;
$largeFontSize: 150%;
$navFontSize: 120%;
$black: #291515;
$white: #ffffff;
$gold: #daa520;
$anchorTagTransition: ".4s ease-in-out";

/*
    Mixins
*/

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

@mixin centerOuter {
  text-align: center;
  width: 100%;
}

@mixin leftInner {
  display: inline-block;
  text-align: left;
  width: 100%;
}

//Default Horizontal Line
hr {
  background-color: $gold;
  width: 75%;
  opacity: 0.3;
}

//Default Body WRAPPED IN 'container-fluid'
.container-fluid, body {
  position: relative;
  min-height: 50vh;
  flex-direction: column;
  display: flex;
  font-family: $fontType;
  font-size: $defaultFontSize;
}

//Default Anchor Tags
a {
  @include transition($anchorTagTransition);
  cursor: pointer;
  color: $black;
  &:hover {
    color: red;
    text-decoration: none;
    @include transition($anchorTagTransition);
  }
}

//Default Unordered List Items
ul li {
  list-style-type: none;
}

.gold {
  color: $gold;
}

.footer-temp {
  font-size: 90%;
}
