header {
  //General Header Settings
  position: relative;
  display: block;
  width: 100%;
  background: $white;
  height: 90px;

  //Nav Logo
  .nav-logo {
    margin-left: 20px;
    font-size: $largeFontSize;
    font-weight: bolder;
    color: $black;
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  //General Nav Styles
  nav {
    z-index: 1000;
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    .active {
      a {
        color: red;
        font-weight: normal !important;
      }
    }

    //List Items In Nav
    ul li {
      margin-right: 20px;

      //Nav-Items
      a {
        padding: 7px 15px;
        font-size: $defaultFontSize;
        line-height: normal;
        border-radius: 8px;
        text-transform: uppercase;
        //Nav-Items On Hover
        &:hover {
          color: red;
          font-weight: bold;
        }
      }
    }

    .dropdown-item {
      color: #000000 !important;
      &:hover{
        color: red !important;
        font-weight: bold !important;
      }
    }
  }
}
